{% extends "rango/base.html" %}
    {% block content %}
        {% if user.is_authenticated %}
        <div class="col-sm-8">
            <div class="row">
                <div class="jumbotron">
                    <form role="form" method="post" action="/rango/add_category/">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <div style="color:red;">You need to be logged in to add a category</div>
            <a href="/rango/register">Register</a>
        {% endif %}
   {% endblock %}