{% extends "rango/base.html" %}

{% block content %}
	{% if not category_name_url %}
		<div>ERROR</div>
	{% else %}
		{% if user.is_authenticated %}
			<form id="page_form" method="post" action="/rango/category/{{ category_name_url }}/add_page/">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in form.visible_fields %}
					{{ field.error }}
					{{ field.help_text }}
					{{ field }}
					<br>
				{% endfor %}

				<input type="submit" value="Submit page">
			</form>
		{% else %}
			<div style="color:red;">You need to logged in to edit a page</div>
			<a href="/rango/register">Register</a>
		{% endif %}
	{% endif %}
{% endblock %}